.DrawerToggler {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggler div {
    width: 90%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

@media (min-width: 700px) {
    .DrawerToggler {
        display: none;
    }
}