.Main {
    text-align: center;
    margin: 40px 0;
    box-sizing: border-box;
}

.Main h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

@media (min-width: 700px) {
    .Main {
        margin: 40px auto;
        width: 90%;
    }
}